* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*

    8px
    16px
    24px
    32px
    48px
    64px
    96px
    128px

    The scale is:

    1rem
    1.25rem
    1.5rem
    2rem

    Primary (green):

    hsl(160deg, 100%, 30%)

Secondary (gold):

    hsl(45deg, 100%, 50%) (lighter)
    hsl(45deg, 100%, 40%) (darker)

Grays:

    hsl(0deg, 0%, 0%) (black)
    hsl(0deg, 0%, 10%) (very dark)
    hsl(0deg, 0%, 30%) (dark)
    hsl(0deg, 0%, 40%) (medium)
    hsl(0deg, 0%, 60%) (light)
    hsl(0deg, 0%, 100%) (white)

*/

/* Add styles here! */
html,
body {
  height: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
}

.max-width-wrapper {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 500px;
  padding: 24px;
}
strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  padding-top: 128px;
  padding-bottom: 48px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  height: 100%;
  padding-top: 64px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 24px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

.indented-heading {
  padding: 24px 64px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -64px;
  margin-top: -16px;
  max-width: max-content;
}
